<%- include("./partials/header.ejs") %>

  <main class="hero">
    <section class="hero-left">
      <h1>Track Your Books, Effortlessly<span class="highlight">*</span></h1>
      <p>
        Track and manage your personal library with ease. <br/>
        Add, edit, or delete books you've read — all in one place.<br/>
        Stay organized, set reading goals, and revisit your favorite stories anytime.<br/>
        ShelfNote helps you build a smarter, cleaner, and more inspiring reading journey.
      </p>
      <p class="highlight">*No more lost notes or forgotten titles.</p>
      <div><a href="/login" class="login-button">Start Tracking-Create account</a></div>
        
        <a href="#" class="signin-link">Already joined? Sign in</a>
    </section>
    <section class="hero-right">
    <video autoplay muted loop playsinline id="myVideo">
        <source src="/images/library-reading-book.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </section>

  </main>

<%- include("./partials/footer.ejs") %>