<%- include("./partials/header.ejs") %>
<style>
      body {
    background: linear-gradient(to right, #f7f1e3, #dcdde1);
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
    background-image: url(https://img.freepik.com/free-vector/flat-background-world-book-day-celebration_23-2150183373.jpg?semt=ais_hybrid&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
<div class="login-wrapper">
  <div class="login-card">
    <h2>Login</h2>

    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <hr>

      <button type="submit" class="btn btn-login">Login</button>

      <a href="/register" class="btn btn-outline-secondary btn-register">New here? Register</a>
    </form>

    <a href="/auth/google" class="btn google-btn mt-3">
      <i class="fab fa-google me-2"></i> Sign in with Google
    </a>

    <div class="footer-text mt-3">
      Forgot your password? <a href="#">Reset it</a>
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>